@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lexend:wght@400;500&family=Poppins:wght@300;400;500&family=Sora:wght@400;500&family=Ubuntu:wght@500;700&display=swap');

.content-container {
    margin-left: 4rem;
}

.content-split {
    display: flex;
    justify-content: space-between;
}

.each-media {
    /* margin: 2rem 3rem; */
}

.each-media a i {
    color: white;
    font-size: 1.2rem;
}

/* .fa-brands fa-twitter {
    color: white;
} */

.footer-links li {
    list-style-type: none;
}

.footer-links li a {
    color: white;
    font-size: 17px;
    line-height: 1.5;
    text-decoration: none;
}

#follow {
    margin-top: 1rem;
}

/* #11468F */
.last-page {
    background-color: #2E5A88;
    color: white;
}

#last-div1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.last-div1-content {
    margin-top: 4rem;
}

.last-div1-content h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.organization {
    font-weight: 600;
}

#rights {
    margin: 5rem 0;
    padding-left: 4rem;
}

.short-line {
    border-bottom: 1px grey solid;
    margin-top: 6px;
    width: 1.8rem;
    /* text-decoration: underline overline white; */
}

#social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
}



@media screen and (max-width:700px) {
    .footer-links li a {
        font-size: 0.9rem;
    }

    .last-div1-content h2,
    .last-div1-content h3 {
        font-size: 1.1rem;
    }

    #rights p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:600px) {
    .content-container {
        margin-left: 0;
    }

    #follow h3 {
        font-size: 1rem;
    }

    #last-div1 {
        display: inline-block;
    }

    .last-div1-content {
        margin-left: 1rem;
    }

    .last-div1-content h1 {
        font-size: 1.5rem;
    }

    #rights {
        margin: 4rem 0;
        padding: 0;
    }

    #social-media {
        display: flex;
        justify-content: space-between;
        margin-right: 22rem;
        margin-top: 1.2rem;

    }

    .organization {
        font-size: 0.9rem;
    }


}