@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lexend:wght@400;500&family=Poppins:wght@300;400;500&family=Sora:wght@400;500&family=Ubuntu:wght@500;700&display=swap');

.toggle-button {
    display: none;
}

#toggle-header {
    display: none;
}

#menu {
    display: none;
}

/* menu appearance*/




@media screen and (max-width:600px) {
    #toggle-header {
        display: block;
    }

    .toggle-button {
        display: block;
        width: 1.6rem;
        height: 2.2rem;
        margin: 30px 0rem 10px 25rem;
    }

    .toggle-button span:after,
    .toggle-button span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    .toggle-button span:after {
        top: 9px;
    }

    .toggle-button span {
        position: relative;
        display: block;
    }

    .toggle-button span,
    .toggle-button span:after,
    .toggle-button span:before {
        width: 100%;
        height: 5px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* on activation */
    .toggle-button.on span {
        background-color: transparent;
    }

    .toggle-button.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .toggle-button.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .toggle-button.on+#menu {
        opacity: 1;
        visibility: visible;
    }

    #menu {
        display: block;
        position: relative;
        color: #999;
        width: 200px;
        padding: 10px;
        margin: auto;
        font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        /* just for this demo */
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
    }

    #menu:after {
        position: absolute;
        top: -15px;
        left: 95px;
        content: "";
        display: block;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid white;
    }

    ul,
    li,
    li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    li a {
        padding: 5px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
    }

    li a:hover,
    li a:focus {
        background: #1ABC9C;
        color: #fff;
    }
}